/*================================
=            Variable            =
================================*/

$primary       :  #323E48; //
$secondary     :  #007E9A; //
$third         :  #fff; //#fbc100
$error         :  #E6002F;
$warning       :  #3CB371;

$red           :  #fbc100; //lighten($primary, 40%)
$redvus-orange  :  #ff671b;

$black         :  #003946;
$dark-gray     :  #4F7780; //
$middle-gray   :  #6996A0; //
$light-gray    :  #A3BCC2; //

$action-color  :  $third;

$border        :  0.15rem solid lighten($primary, 40%);
$borderFocus   :  0.15rem solid $third;
$borderError   :  0.15rem solid $error;

$base-duration :  0.3s;
$base-timing   :  0.3s;

/*----------  Layout  ----------*/
$backgrounBody         : darken($primary, 13%);
$backgrounBodyChild    : darken($primary, 10%);

/*----------  Header  ----------*/
$headerBack              : darken($primary, 8%);
$headerWidth             : 10rem;
$headerWidthOpen         : 20rem;
$headerHeight            : 5rem;
$headerHeightMobile      : 4rem;
$headerIconWidthMobile   : calc(100% / 4);
$headerTitleHeight       : $headerHeight;
$headerTitleHeightMobile : $headerTitleHeight - 1;

/*----------  Minicart  ----------*/
$minicartBack          : transparent;
$minicartBorder        : lighten($primary, 40%);
$minicartBorderActive  : $third;
$minicartToCart        : lighten($primary, 70%);

/*----------  Cart  ----------*/
$cart_table_border     : 0.15rem;
$cart_vert_paddind     : 0.3rem;
$cartClearBackground   : lighten($primary, 30%);
$cartClearFill         : lighten($primary, 70%);
$cartOrderBackground   : $primary;
$cartOrderBorder       : lighten($primary, 80%);
$cartOtherDescription  : lighten($primary, 30%);
$cartBackground        : lighten($primary, 95%);

/*----------  Slider  ----------*/
$sliderLinkColor       : lighten($primary, 40%);
$sliderLinkColorActive : $third;


/*=====  End of Variable  ======*/


/*=============================
=            Media            =
=============================*/

$neat-grid: (
    columns: 4,
    gutter: 2rem
);

$imac27 : 2565px;
$imac21 : 1925px;
$cinema : 1685px;
$pad_g  : 1024px;
$pad_v  : 768px;
$mobile : 570px;

$XXLarge: (
    media: "(min-width: #{$imac21})"
);

$XLarge: (
    media: "(min-width: #{$cinema}) and (max-width: #{$imac21})"
);

$Large: (
    media: "(min-width: #{$pad_g}) and (max-width: #{$cinema})"
);

$Medium: (
    media: "(max-width: #{$pad_g})"
);

$XSmall: (
    media: "(max-width: #{$pad_v})"
);

$Small: (
    media: "(max-width: #{$mobile})"
);

$HSmall: (
    media: "(max-height: 420px)"
);

/*=====  End of Media  ======*/


/*=============================
=            Fonts            =
=============================*/

@include font-face (
    "fontawesome-webfont",
    "fonts/fontawesome-webfont/fontawesome-webfont",
    ("eot", "woff", "ttf", "svg")
    ) {
    font-style: normal;
    font-weight: 400;
}

@include font-face (
    "PF Din Text Cond Pro Medium",
    "fonts/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium",
    ("eot", "woff", "ttf", "svg")
    ) {
    font-style: normal;
    font-weight: 400;
}

@include font-face (
    "PF Din Text Cond Pro Regular",
    "fonts/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular",
    ("eot", "woff", "ttf", "svg")
    ) {
    font-style: normal;
    font-weight: 400;
}

@include font-face (
    "si",
    "fonts/socicon/socicon",
    ("eot", "woff", "ttf", "svg")) {
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Neucha');
// @import url('https://fonts.googleapis.com/css?family=Marmelad');
// @import url('https://fonts.googleapis.com/css?family=Caveat');
// @import url('https://fonts.googleapis.com/css?family=Cuprum');

$primary-font        :  'Roboto Condensed', sans-serif;
// $primary-font        :  'Neucha', cursive;
// $primary-font        :  'Marmelad', sans-serif;
// $primary-font        :  'Caveat', cursive;
// $primary-font        :  'Cuprum', sans-serif;
// $primary-font        :  "PF Din Text Cond Pro Regular";
// $heading-font        :  "PF Din Text Cond Pro Medium";
$heading-font        :  'Neucha', cursive;
// $heading-font-light  :  "";
$headingFontColor    :  lighten($primary, 40%);

$body-font-color     :   lighten($primary, 40%);

$body-font-size      :   1rem !default;
$body-font-weight    :   normal !default;
$body-line-height    :   1.4 !default;
$heading-line-height :   1 !default;

$bourbon: (
    "modular-scale-base": $body-font-size,
    "modular-scale-ratio": $minor-third,
);

$font-size-base:    $body-font-size !default;
$font-size-large:   $font-size-base + 0.2 !default; // ~18px
$font-size-small:   $font-size-base - 0.2 !default; // ~14px

$font-size-h1:      4vw !default; // ~3rem 48px modular-scale(6)
$font-size-h2:      3vw !default; // ~2.5rem 40px modular-scale(5)
$font-size-h3:      modular-scale(4) !default; // ~2rem 33px
$font-size-h4:      modular-scale(3) !default; // ~1.728rem 28px
$font-size-h5:      modular-scale(2) !default; // ~1.44rem 23px
$font-size-h6:      modular-scale(1) !default; // ~1.2rem 19px

%px {
    font: {
        family: $primary-font;
        weight: $body-font-weight;
        size: $font-size-base;
    };
    line-height: $body-line-height;
    color: $body-font-color;
    margin: 1rem 0;

    @include grid-media($XXLarge) {
        font-size: $font-size-large + 0.7;
    }

    @include grid-media($XLarge) {
        font-size: $font-size-large + 0.3;
    }

    @include grid-media($Medium) {
        font-size: $font-size-large;
    }

    @include grid-media($XSmall) {
        font-size: $font-size-large;
    }

    @include grid-media($Small) {
        font-size: $font-size-large;
    }
}

%hx {
    font: {
        family: $heading-font;
        weight: 400;
    };
    //letter-spacing: 0.04em;
    line-height: $heading-line-height;
    text-transform: uppercase;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/*=====  End of Fonts  ======*/


/*==============================
=            Layout            =
==============================*/

// %scrollbar_body {
//     &::-webkit-scrollbar-track {
//         background-color: transparent;
//     }

//     &::-webkit-scrollbar {
//         width: 6px;
//         background: transparent;

//         &::window-inactive {

//         }

//     }

//     &::-webkit-scrollbar-thumb {
//         background-color: lighten($secondary, 60%);

//         &:window-inactive {
//             background-color: #fff;
//         }
//     }
// }

// %scrollbar_sidebar {
//     &::-webkit-scrollbar-track {
//         background-color: transparent;
//     }

//     &::-webkit-scrollbar {
//         width: 4px;
//         background: transparent;

//     }

//     &::-webkit-scrollbar-thumb {
//         background-color: lighten($secondary, 70%);
//         //border: 2px solid #555555;

//         &:window-inactive {
//             opacity: 0;
//         }
//     }
// }

body {
    @extend %px;
    margin: 0;
    // color: $third;
    background-color: $backgrounBody;
    // @extend %scrollbar_body;
}

h1 {
    @extend %hx;
    font-size: $font-size-h1;
    color: $headingFontColor;
    //margin-bottom: 1em;
    //text-align: center;
    //transition: all .3s;
}

h2 {
    @extend %hx;
    font-size: $font-size-h2;
    color: $headingFontColor;
}

h3 {
    @extend %hx;
    font-size: $font-size-h3;
    color: $headingFontColor;
}

h4 {
    @extend %hx;
    font-size: $font-size-h4;
    color: $headingFontColor;
}

h5 {
    @extend %hx;
    font-size: $font-size-h5;
    color: $secondary;
}

h6 {
    @extend %hx;
    font-size: $font-size-h6;
    color: $secondary;
}

.large-text {
    font-size: $font-size-large;
}

.small-text {
    font-size: $font-size-small;
}

.small {
    font-size: $font-size-small;
    margin-top: 0;
    padding-left: 1.5rem;
}

ul {
    margin: 1rem 0;
    padding: 0;
    list-style: none;

    li {

        @include grid-media($Medium) {
            font-size: $font-size-large;
        }
    }
}

ol {
    margin: 1rem 0;
}

a {
    color: $action-color ;
    text-decoration: none;
    transition: color $base-duration;
    outline: none;

    // &:active,
    // &:focus,
    // &:hover {
    //     //color: $action-color;
    // }
}

svg {
    transition: all 0.3s;

    polygon,
    path,
    polyline,
    line,
    circle {
        stroke: $minicartBorder;
        stroke-width: 0.1rem;
        fill: none;
    }

    // &:hover {


    // }
}

.error {
    color: $error;
}

.success {
    color: $warning;
}
/*=====  End of Layout  ======*/

/*====================================
=            Default Shop            =
====================================*/

/* Cart */
// #msCart th, #msCart td { text-align: center; line-height: 30px; }
#msCart .title { text-align: left; }
#msCart th.total { text-align: right; padding-right: 5px; }
.js #msCart [type="submit"][value="cart/change"] { display: none; }
#msMiniCart { font-size: .8em; }
#msMiniCart h5 { margin: 0; }
#msMiniCart .empty { display: block; }
#msMiniCart .not_empty { display: none; }
#msMiniCart.full .empty { display: none; }
#msMiniCart.full .not_empty { display: block; }
/* Product */
// .ms2_product { margin-bottom: 10px; }
// .ms2_product .price { padding-left: 50px; padding-right: 30px; }
// .ms2_product .old_price { padding-right: 30px; }
// .ms2_product .tags, .ms2_product .color, .ms2_product .size { padding-right: 20px; font-size: 0.9em; }
@media (min-width: 768px) {
    #msProduct .input-sm { max-width: 50%; }
}
#msProduct .old_price, #msCart .old_price, .ms2_product .old_price {
    color: brown;
    font-style: italic;
    text-decoration: line-through;
}

/*=====  End of Default Shop  ======*/

/*=============================
=            Order            =
=============================*/

/* Order */
// #msOrder { margin-top: 50px; }
#msOrder .radio { min-height: 30px; margin-bottom: 10px; }
#msOrder .radio img { max-height: 30px; margin-top: -2px; padding: 0 10px; }
#msOrder .required-star { display: none; }
#msOrder .required .required-star { display: inline; }

#msOrder .error {
    border: $borderError !important;
}

#msOrder .required-star { color: brown; }
/* Logs */
.msProductsLog, .msGalleryLog, .msCartLog, .msOrderLog, .msGetOrderLog {
    width: 100%;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

/*=====  End of Order  ======*/