/*============================
=            Cart            =
============================*/
.cart-content {
    width: calc(50% - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 7rem;
    margin-top: 2rem;
    border-right: $border;

    &__table {
        width: 100%;

        .table {
            width: 100%;

            .table-product {
                border-bottom: $border;
                display: flex;
                flex-direction: row;

                &__image {
                    width: calc(25% - 1rem);
                    display: flex;
                    align-items: center;
                    padding: 1rem 1rem 1rem 0;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &__title {
                    width: calc(30% - 1rem);
                    display: flex;
                    align-items: center;
                    padding-left: 1rem;
                }

                &__count {
                    width: 25%;
                    display: flex;
                    // flex-direction: row;
                    align-items: center;

                    .form-group {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        &__input {
                            width: 40%;
                            height: 2rem;
                            text-align: center;
                            background-color: transparent;
                            border: $border;
                            outline: none;
                            font: {
                                size: $font-size-base;
                                family: $primary-font;
                            };
                            color: $minicartBorder;
                            padding-top: 0.4rem;
                            -webkit-appearance: none;
                        }

                        &__minus,
                        &__plus {
                            width: 30%;
                            height: 2.3rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            // font-size: $font-size-base;
                            outline: none;
                            cursor: pointer;
                        }
                    }
                }

                &__price {
                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    text-align: right;
                }

                @include grid-media($XXLarge) {

                    &__price {
                        font-size: modular-scale(5);
                    }
                }

                @include grid-media($XLarge) {

                    &__price {
                        font-size: modular-scale(4);
                    }
                }

                @include grid-media($Large) {

                    &__count {

                        .form-group {

                            &__minus,
                            &__plus {
                                font-size: $font-size-large;
                            }
                        }
                    }

                    &__price {
                        font-size: $font-size-large;
                    }
                }

                @include grid-media($Small) {
                    // flex-direction: column;
                    flex-wrap: wrap;
                    padding: 0.5rem 0;

                    &__image {
                        width: 100%;
                        min-height: 6rem;
                        padding: 0.5rem 0;

                        // img {
                        //     // position: absolute;
                        //     // left: 50%;
                        //     // transform: translateX(-50%);
                        // }
                    }

                    &__title {
                        width: 100%;
                        padding: 0.5rem 0;
                        justify-content: center;
                    }

                    &__count {
                        width: 50%;
                        padding: 0.5rem 0;
                        justify-content: center;
                    }

                    &__price {
                        width: 50%;
                        padding: 0.5rem 0;
                    }
                }
            }
        }
    }

    &__footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: $font-size-large;

        @include grid-media($XXLarge) {
            font-size: modular-scale(5);
        }

        @include grid-media($XLarge) {
            font-size: modular-scale(4);
        }

        @include grid-media($Large) {
            font-size: $font-size-large;
        }

        @include grid-media($Medium) {
            font-size: $font-size-large;
        }
    }

    &__total {
        width: calc(50% - 2rem);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem 2rem 1rem 0;
    }

    &__cost {
        width: calc(50% - 2rem);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem 0 1rem 2rem;
    }

    &__post {
        width: 30%;
    }

    &-order {
        width: calc(50% - 4rem);
        height: calc(100vh - 9rem);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 2rem 0 7rem 4rem;
        border: none;

        &__image {
            width: 50%;
            height: 100vh;
            display: block;
            position: relative;

            img {
                width: 70%;
                height: auto;
                display: block;
                left: 50%;
                top: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
            }
        }

        @include grid-media($Small) {
            width: 100%;
            height: auto;
            min-height: 100vh;
            padding: ($headerHeightMobile + $headerTitleHeightMobile) 0 $headerTitleHeightMobile;

            &__image {
                width: 100%;
                height: $headerTitleHeightMobile;
                top: $headerHeightMobile;
                left: 0;
                background-color: rgba(23,28,33, 0.6);
                position: fixed;

                img {
                    width: auto;
                    height: 80%;
                }
            }
        }
    }

    @include grid-media($Small) {
        width: 100%;
        padding: $headerHeightMobile 0 0;
        border-right: none;
    }
}

/*=====  End of Cart  ======*/

