/*================================
=            Category            =
================================*/

$categoryPart: (100% / 10);

.category {

    &-section {
        width: 100%;
        min-height: calc(100vh - #{$headerHeight});
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: $headerHeight;
        border-bottom: $border;

        &__title {
            width: 100%;
            height: #{$headerTitleHeight};
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            // border-bottom: $border;
            // background-color: rgba($headerBack, 0.7);
            background-color: $minicartBorder;
            // left: $headerWidth;
            top: 0;
            // padding: 0.5rem 0;
            z-index: 100;

            h2 {
                font-size: $font-size-h1 - 1;
                margin: 0;
                padding-top: 0.5rem;
                display: inline-block;
                // color: $minicartBorder;
                color: $headerBack;
                text-align: center;
                z-index: 1000;
            }

            &-back {
                width: calc(100% - (#{$headerWidth} * 2));
                height: calc(#{$headerTitleHeight});
                position: fixed;
                top: 0;
                left: $headerWidth;
                background-color: rgba($headerBack, 0.85);
                // border-bottom: $border;
                z-index: 90;
                // display: none;
                // visibility: hidden;
            }

            @include grid-media($Small) {
                width: calc(100% - 2rem);
                height: $headerTitleHeightMobile;
                top: 0;
                left: 0;
                padding: 0 1rem;

                h2 {
                    font-size: 10vw;
                }

                &-back {
                    width: 100%;
                    height: $headerTitleHeightMobile;
                    top: 3rem;
                    left: 0;
                    border: none;
                    // display: block;
                    // visibility: visible;
                }
            }
        }

        &__subtitle {
            width: 100%;
            height: #{$headerTitleHeight};
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            // border-bottom: $border;
            // background-color: rgba($headerBack, 0.7);
            background-color: rgba($minicartBorder, 0.15);
            // left: $headerWidth;
            border-bottom: $border;
            top: 0;
            // padding: 0.5rem 0;
            z-index: 100;

            h3 {
                font-size: $font-size-h1 - 1.5;
                margin: 0;
                padding-top: 0.5rem;
                display: inline-block;
                // color: $minicartBorder;
                color: $minicartBorder;
                text-align: center;
                z-index: 1000;
            }

            &-back {
                width: calc(100% - (#{$headerWidth} * 2));
                height: calc(#{$headerTitleHeight});
                position: fixed;
                top: 0;
                left: $headerWidth;
                background-color: rgba($headerBack, 0.5);
                // border-bottom: $border;
                z-index: 90;
                // display: none;
                // visibility: hidden;
            }

            @include grid-media($Small) {
                width: calc(100% - 2rem);
                height: $headerTitleHeightMobile;
                top: 0;
                left: 0;
                padding: 0 1rem;

                h2 {
                    font-size: 10vw;
                }

                &-back {
                    width: 100%;
                    height: $headerTitleHeightMobile;
                    top: 3rem;
                    left: 0;
                    border: none;
                    // display: block;
                    // visibility: visible;
                }
            }
        }

        &__image {
            width: calc(50% - #{$headerWidth});
            height: 100%;
            display: block;
            position: fixed;
            left: $headerWidth;
            top: 0;
            // padding-left: 5%;
            // border-top: $border;
            // border-bottom: $border;
            // transform: translateX(-50%);

            img {
                width: 80%;
                height: auto;
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            @include grid-media($Small) {
                width: 100%;
                height: $headerTitleHeightMobile;
                padding-left: 0;
                left: 0;
                top: 3rem;
                z-index: 95;

                img {
                    width: auto;
                    height: 100%;
                    left: 50%;
                }
            }
        }

        &__content {
            width: calc(100% - 0.15rem);
            // height: 100%;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            position: relative;
            // padding-left: 2rem;
            left: 0;
            top: 0;
            // padding-top: $headerTitleHeight;
            // text-align: center;
            transform: translateZ(0);
            will-change: transform;
            // border-left: $border;
            z-index: 1;

            &-info {
                width: calc(100% - 6rem);
                display: flex;
                flex-direction: column;
                position: relative;
                left: 0;
                top: 0;
                padding: 1rem 3rem;
                transform: translateZ(0);
                will-change: transform;
                // border-left: $border;
                z-index: 1;

                h4 {
                    color: $third;
                }

                ol {
                    padding-left: 1rem;
                }

                ul {

                    li {

                        ul {
                            padding-left: 1.3rem;
                        }
                    }
                }
            }

            @include grid-media($Small) {
                width: 100%;
                height: auto;
                left: 0;
                padding-top: 0;

                &-info {
                    width: calc(100% - 2rem);
                    padding: 0 1rem 1rem;

                    ol {
                        padding-left: 1rem;

                        li {

                            ol {
                                padding-left: 1.1rem;
                            }
                        }
                    }
                }
            }
        }

        // &:first-child {
        //     padding-top: 1rem;
        // }

        &:last-child {
            // border-bottom: $border;
            margin-bottom: 0;
        }

        // &:nth-child(2n) {
        //     background-color: $backgrounBodyChild;
        // }

        @include grid-media($Small) {
            padding-top: $headerHeightMobile * 2;

            &__title {
                display: none;
                visibility: hidden;
            }
        }
    }
}

/*=====  End of Category  ======*/

.is-hidden {
    opacity: 0;
}

.tab-pane {
    display: none;
    animation: 1s fadeIn;

    &.active {
        display: block;
    }

    ol {
        padding-left: 1rem;
    }
}
