/*==============================
=            Footer            =
==============================*/
$footer-grid: (
    columns: 1,
    gutter: 5rem
);

.footer {
    $base-spacing: 2em !default;
    $action-color: #477DCA !default;
    $medium-screen: 40em !default;
    $large-screen: 53.75em !default;
    $footer-background: $headerBack;
    $footer-color: white;
    $footer-link-color: transparentize($footer-color, 0.6);
    $footer-disclaimer-color: transparentize($footer-color, 0.6);

    background: $footer-background;
    display: block;
    width: calc(100% - (#{$headerWidth} * 2));
    min-height: 10vh;
    position: relative;
    bottom: 0;
    left: $headerWidth;
    // border-top: $border;
    z-index: 9910;

    // @include media($XSmall) {
    //     padding-bottom: 60px;
    // }

    // @include media($Small) {
    //     padding-bottom: 60px;
    // }

    &-container {
        width: 100%;
        // min-height: calc(300px - 2rem);
        padding: 1rem 0;
        display: flex;
        flex-direction: row;

        // @include media($XXLarge) {
        //     @include outer-container(1600px);
        //     padding: modular-scale(3) 0;
        // }

        // @include media($XLarge) {
        //     padding: ($font-size-large + 0.2) 0;
        // }

        // @include media($Medium) {
        //     padding: 1rem;
        // }

        // @include media($Small) {
        //     padding: 1rem;
        // }

        &__left {
            width: 30%;

        }

        &__right {
            width: 70%;
            display: flex;
            align-items: center;
        }

        &__counters {
            width: 50%;
            display: flex;
            flex-direction: row;
        }

        &__secure {
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        &__payment {
            width: 70%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            img {
                width: 45px;
                height: 30px;
                margin-left: 0.5rem;
            }
        }

        &__author {
            width: 50%;

            .author {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                p {
                    font: {
                        //family: $font-family-base;
                        size: $font-size-small;
                    };
                    line-height: 1.4;
                    // color: $colorTextFooter;
                    display: inline-block;
                    position: relative;
                    text-align: right;
                }

                a {
                    margin-left: 1rem;
                    display: flex;
                    align-items: center;
                    position: relative;


                    svg {
                        width: auto;
                        height: 2rem;
                        display: block;
                        stroke-width: 0;
                        transition: all 0.2s;

                        .redvus-logo__red {
                            fill: #fff;
                            transition: 0.2s;
                        }

                        .redvus-logo__deepred {
                            fill: #fff;
                        }

                        &:hover {


                            .redvus-logo__red {
                                fill: $redvus-orange;
                            }
                        }
                    }
                }
            }
        }

        @include grid-media($Small) {
            flex-direction: column;

            &__left {
                width: 100%;

            }

            &__right {
                width: 100%;
                flex-direction: column;
            }

            &__author {
                width: 100%;
                margin-top: 1rem;

                .author {
                    justify-content: center;
                }
            }

            &__counters {
                width: 100%;
                flex-direction: column;
            }

            &__secure {
                width: 100%;
                justify-content: flex-start;
            }

            &__payment {
                width: 100%;
            }
        }
    }

    @include grid-media($Small) {
        width: calc(100% - 2rem);
        padding: 1rem;
        left: 0;
    }
}

/*=====  End of Footer  ======*/
