/*==============================
=            Header            =
==============================*/

header {
    width: $headerWidth;
    height: 100vh;
    position: fixed;
    // padding: 0 2rem;
    left: 0;
    border-right: $border;
    z-index: 9900;
    background-color: $headerBack;

    &.is-open {


        .header {

            &__logo,
            &__icon {
                opacity: 0;
            }

            &__nav {
                display: flex;
                visibility: visible;
            }

        }
    }

    @include grid-media($Small) {
        width: calc(100% - (#{$headerHeightMobile} + 1rem));
        height: $headerHeightMobile;
        display: flex;
        border-bottom: $border;
        border-right: none;
        background-color: $primary;
        z-index: 9950;
    }
}

.header {

    &__logo {
        width: calc(100% - 2rem);
        height: $headerHeight + 1;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        position: relative;
        left: 0;
        top: 0;
        padding: 1rem;
        // border-bottom: $border;
        // transform: translate(-50%, -50%);

        // a {
        //     width: 100%;
        //     height: 100%;
        // }

        img {
            width: auto;
            height: $headerHeight + 1;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        svg {
            height: $headerHeight + 1;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            path {
                fill: $third;
                stroke: none;
            }
        }

        @include grid-media($Small) {
            // width: calc((100% - (#{$headerIconWidthMobile} * 4)) - 1rem);
            width: calc(100% / 3);
            height: calc(#{$headerHeightMobile} - 1rem);
            padding: 0.5rem;
            border-bottom: none;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
            }

            svg {
                height: $headerHeightMobile - 1;
            }

            img {
                height: $headerHeightMobile - 1;
            }
        }
    }

    &__nav {
        width: calc(#{$headerWidthOpen} - 2rem);
        height: calc(100% - 12rem);
        display: flex;
        position: fixed;
        // align-items: center;
        justify-content: flex-end;
        top: 0;
        left: 0;
        padding: 12rem 2rem 0 0;
        z-index: 9999;
        // visibility: hidden;

        nav {
            width: 100%;

            ul {

                li {
                    text-align: right;
                    margin: 0.5rem 0;

                    a {
                        font: {
                            family: $heading-font;
                            size: modular-scale(4);
                        };
                        color: $minicartBorder;
                        text-transform: uppercase;
                        transition: color 0.3s;

                        &:hover {
                            color: $minicartBorderActive;
                        }
                    }
                }
            }
        }

        &-close {
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $headerBack;
            border: $border;
            border-radius: 50%;
            position: absolute;
            top: 8.95rem;
            left: 18.95rem;
            transition: all 0.3s;
            cursor: pointer;

            &:before {
                content: "";
                width: 1rem;
                height: 0.15rem;
                display: block;
                background-color: $minicartBorder;
                position: absolute;
                transform: rotate(45deg);
                transition: all 0.3s;
                transform-origin: 50% 50%;
            }

            &:after {
                content: "";
                width: 1rem;
                height: 0.15rem;
                display: block;
                background-color: $minicartBorder;
                position: absolute;
                transform: rotate(-45deg);
                transition: all 0.3s;
                transform-origin: 50% 50%;
            }

            &:hover {
                border-color: $minicartBorderActive;

                &:before {
                    background-color: $minicartBorderActive;
                    transform: rotate(-45deg);
                }

                &:after {
                    background-color: $minicartBorderActive;
                    transform: rotate(45deg);
                }
            }
        }

        @include grid-media($Small) {
            width: calc(100% - 2rem);
            height: calc(100% - (#{$headerHeightMobile} * 3));
            padding: $headerHeightMobile 1rem;
            top: $headerHeightMobile + 0.15;
            background-color: $backgrounBody;

            nav {

                ul {

                    li {
                        text-align: center;
                    }
                }
            }

            &-close {
                top: -3.2rem;
                left: calc(100% - 3rem);
            }
        }
    }

    &-bottom {
        width: 80%;
        height: 6rem;
        display: flex;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 10%;
        z-index: 99;
        border-top: $border;
        // background-color: $headerBack;

        &__phone {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            a {
                font: {
                    size: $font-size-h3;
                    family: $heading-font;
                };
            }
        }
    }

    &__icon {
        width: 100%;
        padding-top: 1rem;
        text-align: center;
        // transform: translateX(-50%);

        a {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            font: {
                size: $font-size-h3;
                family: $heading-font;
            };
            // padding: 0.5rem;

            &:hover {

                svg {

                    polygon,
                    path,
                    polyline,
                    line,
                    circle {
                        stroke: $minicartBorderActive;
                    }

                    &#headerPhone {
                        transform: rotate(-15deg);
                    }
                }

                // span {
                //     // color: $minicartBorderActive;
                // }
            }
        }

        svg {
            width: 40%;
            padding: 0.3rem;
        }

        span, p {
            width: 100%;
            display: flex;
            justify-content: center;
            // margin-top: 0.5rem;
            font: {
                size: $font-size-large;
                family: $primary-font;
            };
            color: $minicartBorder;
            transition: all 0.3s;
        }

        @include grid-media($Small) {
            width: $headerIconWidthMobile;
            padding: 0;

            svg {
                width: calc(100% - 0.6rem);
                height: calc(100% - 0.6rem);
            }

            span, p {
                display: none;
                visibility: hidden;
            }
        }
    }

    &__menu {
        position: relative;

        svg {

            circle {
                transition: all 0.3s;
            }
        }

        .header-menu {
            width: 1rem;
            height: 0.15rem;
            display: block;
            background-color: $minicartBorder;
            position: absolute;
            top: 45%;
            left: 45%;
            transform: translate(-50%, 0);
            transition: all 0.3s;
            transform-origin: 0 0;

            &:before {
                content: "";
                width: 1.5rem;
                height: 0.15rem;
                display: block;
                background-color: $minicartBorder;
                position: absolute;
                transform: translate(0,-400%);
                transition: all 0.3s;
                transform-origin: 50% 50%;
            }

            &:after {
                content: "";
                width: 2rem;
                height: 0.15rem;
                display: block;
                background-color: $minicartBorder;
                position: absolute;
                transform: translateY(400%);
                transition: all 0.3s;
                transform-origin: 100% 0;
            }
        }

        &:hover {


            .header-menu {
                width: 2rem;
                left: 50%;
                background-color: $minicartBorderActive;

                &:before {
                    width: 2rem;
                    // transform: translate(0, -400%);
                    background-color: $minicartBorderActive;
                }

                &:after {
                    // width: 2rem;
                    // transform: translateY(-430%);
                    background-color: $minicartBorderActive;
                }
            }
        }

        @include grid-media($Small) {

            svg {
                // width: 3rem;
                // height: 3rem;
                // padding: 0.5rem;
            }

            .header-menu {
                top: 48%;
                left: 50%;

                &:before {
                    width: 1rem;
                    transform: translate(0,-250%);
                }

                &:after {
                    width: 1rem;
                    transform: translateY(250%);
                }
            }

            &:hover {

                .header-menu {
                    width: 1rem;
                    background-color: $minicartBorder;

                    &:before {
                        width: 1rem;
                        // transform: translate(0, -400%);
                        background-color: $minicartBorder;
                    }

                    &:after {
                        // width: 2rem;
                        // transform: translateY(-430%);
                        background-color: $minicartBorder;
                    }
                }
            }
        }
    }

    &__phone {

        @include grid-media($Small) {
            height: $headerHeightMobile;
            padding-top: 0;

            span {
                display: none;
                visibility: hidden;
            }

            svg {
                width: calc(100% - 0.8rem);
                height: calc(100% - 0.8rem);
                padding: 0.4rem;
            }
        }
    }

    &__workmode {

        .clockbox {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            font: {
                size: $font-size-h3;
                family: $heading-font;
            };
            // position: relative;

            // &:before {
            //     content: "11";
            //     position: absolute;
            //     font: {
            //         size: $font-size-large;
            //         family: $primary-font;
            //     };
            //     color: $minicartBorder;
            //     left: 1.75rem;
            //     top: 50%;
            //     transform: translate(-50%, -50%);
            // }

            // &:after {
            //     content: "20";
            //     position: absolute;
            //     font: {
            //         size: $font-size-large;
            //         family: $primary-font;
            //     };
            //     color: $minicartBorder;
            //     right: 0.5rem;
            //     top: 50%;
            //     transform: translate(-50%, -50%);
            // }
        }

        .circle {
            fill: none;
            stroke: $minicartBorder;
            // stroke-width: 1rem;
            // stroke-miterlimit: 10;
        }

        .mid-circle {
            fill: none;
            stroke: $minicartBorder;
        }

        .hour-marks {
            fill: none;
            stroke: $minicartBorder;
            // stroke-width: 0.5rem;
            // stroke-miterlimit: 10;
        }

        .hour-arm {
            fill: none;
            stroke: $minicartBorder;
            // stroke-width: 1rem;
            // stroke-miterlimit: 10;
        }

        .minute-arm {
            fill: none;
            stroke: $minicartBorder;
            // stroke-width: 0.05rem;
            // stroke-miterlimit: 10;
        }

        .second-arm {
            fill: none;
            stroke: $minicartBorder;
            stroke-width: 0.07rem;
            // stroke-miterlimit: 10;
        }

        .sizing-box {
            fill: none;
            stroke: none;
        }

        #clockWorkdown {
            fill: rgba(146, 165, 180, 0.2);
            stroke: none;
            transition: all 0.3s;
        }

        #hour,
        #minute,
        #second {
            transform-origin: 50% 50%;
            /*transition: transform .5s ease-in-out;*/
        }

        p {
            margin: 0;
        }

        // .clockbox {

        //     &:hover {

        //         // .mid-circle,
        //         // .hour-marks,
        //         // .hour-arm,
        //         // .minute-arm,
        //         // .second-arm,
        //         // .sizing-box {
        //         //     stroke: $minicartBorder;
        //         // }

        //         // .circle {
        //         //     stroke: $minicartBorder;
        //         // }
        //     }
        // }

        &:hover {

            #clockWorkdown {
                fill: rgba(146, 165, 180, 0.5);
            }
        }

        @include grid-media($XSmall) {
            display: none;
            visibility: hidden;
        }
    }

    &__social {
        z-index: 9999;

        .social-icon {
            // margin-bottom: 1rem;
            // transition: all 0.3s;

            rect,
            circle {
                fill: none;
                stroke: $minicartBorder;
                transition: all 0.3s;
            }

            #instagramIcon,
            #vkIcon,
            #facebookIcon {
                transition: transform 0.3s;
                transform-origin: 50% 50%;
            }

            #instagramPhoto,
            #instagramObjective {
                fill: none;
                stroke-width: 0.1rem;
                transition: all 0.3s;
            }

            #instagramBlink {
                fill: $minicartBorder;
                stroke: none;
                transition: all 0.3s;
            }

            #vkIcon,
            #facebookIcon {
                fill: $minicartBorder;
                stroke: none;
                transition: all 0.3s;
            }

            &:hover {


                #instagramIcon,
                #vkIcon,
                #facebookIcon {
                    transform: scale(1.05);
                }

                circle,
                #instagramPhoto,
                #instagramObjective {
                    stroke: $minicartBorderActive;
                }

                #instagramBlink,
                #vkIcon,
                #facebookIcon {
                    fill: $minicartBorderActive;
                }
            }
        }

        @include grid-media($Small) {
            height: $headerHeightMobile;
            display: flex;
            flex-direction: row;
            padding-top: 0;

            .social-icon {
                margin-bottom: 0;
            }
        }
    }

    &__cart {
        width: 5rem;
        height: 4rem;
        display: block;
        padding: 0.3rem;
        top: 3rem;
        right: 2rem;
        position: fixed;
        transform: translateY(-50%);
    }

    // &-minicart {
    //     width: 100%;
    //     height: 100%;

    //     svg {
    //         width: 4rem;
    //         height: 3.5rem;
    //         padding: 0.3rem;
    //     }

    //     .minicartHandle {
    //         transform-origin: 50% 22%;
    //         transform: scale(1, -1);
    //     }

    //     &__notempty {
    //         // display: flex;
    //         // flex-direction: row;

    //         svg {
    //             width: 4rem;
    //             height: 3.5rem;
    //             padding: 0.3rem;
    //             fill: none;

    //             polygon,
    //             path {
    //                 stroke: $minicartBorderActive;
    //             }

    //             #cartInside {
    //                 animation: cartDown 1s normal;
    //             }

    //             .minicartHandle {
    //                 // transform-origin: 50% 22%;
    //                 // transform: scale(1, -1);
    //             }
    //         }
    //     }

    //     &__count {
    //         width: 2rem;
    //         height: 2rem;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         position: absolute;
    //         top: 45%;
    //         left: 45%;
    //         transform: translate(-50%, -50%);
    //     }

    //     &__cost {
    //         min-width: 4rem;
    //         height: 2rem;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         position: absolute;
    //         top: 50%;
    //         left: calc(50% - 0.2rem);
    //         // padding-left: 1rem;
    //         text-align: left;
    //         transform: translate(-50%, -50%);

    //         .ms2_total_cost {
    //             font: {
    //                 family: $heading-font;
    //                 size: $font-size-base;
    //             };
    //         }
    //     }

    //     .cost-currency {
    //         min-width: 4rem;
    //         height: 2rem;
    //         display: flex;
    //         justify-content: center;
    //         text-align: center;
    //         color: $minicartBorderActive;
    //         font-size: $font-size-small - 0.2;
    //         // margin-left: 0.15rem;
    //         position: absolute;
    //         top: 83%;
    //         // left: -0.15rem;
    //     }
    // }

    &-back {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // opacity: 0;
        // filter: alpha(opacity=80);
        background-color: rgba(23, 28, 33, 0.7);
        z-index: 9800;

        @include grid-media($Small) {
            // display: none;
            // visibility: hidden;
        }
    }

    &-minicart {
        z-index: 10;
    }
}

@keyframes cartDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/*=====  End of Header  ======*/

