/*! @group Layout */
/* ========================================================================== */
$footer-height-block: 10rem;

#main-scrollbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.wrapper {
	min-height: 100vh;
	display: block;
	position: relative;
	// padding: 6rem 0;
	background-image: url('images/hand_back_4.png');
	background-repeat: repeat;
	// background-size: cover;
	// background-position: 50% 50%;
	// background-attachment: fixed;
	background-color: $backgrounBody;
	//transition: all .3s;
	animation: fadeIn 0.6s ease-in-out;
	// box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
	z-index: 10;

	&-error {
		width: 100%;
		height: 100vh;
		// display: flex;
		// align-items: center;
		// justify-content: center;
		display: block;
		position: relative;
		background-image: url('images/hand_back_4.png');
		background-repeat: repeat;

		&__image {
			width: 40%;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}

		@include grid-media($Small) {

			&__image {
				width: calc(100% - 2rem);
				padding: 0 1rem;
			}
		}
	}

	&-front {
		width: calc(100% - (#{$headerWidth} * 2));
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 $headerWidth;

		// &__back {
  //           width: 100%;
  //           height: 100vh;
  //           display: flex;
  //           align-items: flex-end;
  //           justify-content: center;
  //           overflow: hidden;
  //           top: 0;
  //           left: 0;
  //           position: absolute;
  //           z-index: 0;

  //           img {
  //               width: 100%;
  //               height: auto;
  //           }
  //       }

  //       &__pattern {
	 //        background: url('images/pattern2.png') scroll;
	 //        width: 100%;
	 //        height: 100%;
	 //        top: 0;
	 //        left: 0;
	 //        z-index: 3;
	 //        position: absolute;
	 //    }

	 //    &__overlay {
	 //        background-color: $primary;
	 //        width: 100%;
	 //        height: 100%;
	 //        top: 0;
	 //        left: 0;
	 //        opacity: 0.8;
	 //        z-index: 2;
	 //        position: absolute;
	 //    }

	    // &__logo {
	    //     width: 20%;
	    //     min-height: 2rem;
	    //     display: flex;
	    //     align-items: center;
	    //     justify-content: center;
	    //     position: absolute;
	    //     left: 50%;
	    //     top: 10%;
	    //     padding: 1rem;
	    //     // border-bottom: $border;
	    //     transform: translate(-50%, -50%);
	    //     z-index: 1;

	    //     img {
	    //         width: 100%;
	    //         height: auto;
	    //         display: block;
	    //     }

	    //     @include grid-media($Small) {
	    //         width: calc((100% - (#{$headerIconWidthMobile} * 4)) - 1rem);
	    //         height: 2rem;
	    //         padding: 0.5rem;
	    //         border-bottom: none;

	    //         a {
	    //             width: 100%;
	    //             height: 100%;
	    //             display: flex;
	    //             align-items: center;
	    //         }

	    //         // img {
	    //         //     width: auto;
	    //         //     height: 100%;
	    //         // }
	    //     }
	    // }

	    // &__social {
	    // 	width: 20%;
	    // 	height: 20vh;
	    // 	display: flex;
	    // 	flex-direction: row;
	    // 	align-items: center;
	    // 	bottom: 0;
	    // 	left: 50%;
	    // 	position: absolute;
	    // 	transform: translate(-50%, 0);
	    // }

	    // &__icon {
	    //     width: 100%;
	    //     // padding-top: 1rem;
	    //     text-align: center;
	    //     // transform: translateX(-50%);

	    //     a {
	    //         width: 100%;
	    //         height: 100%;
	    //         display: flex;
	    //         flex-direction: column;
	    //         align-items: center;
	    //         font: {
	    //             size: $font-size-h3;
	    //             family: $heading-font;
	    //         };
	    //         // padding: 0.5rem;

	    //         &:hover {

	    //             svg {

	    //                 polygon,
	    //                 path,
	    //                 polyline,
	    //                 line,
	    //                 circle {
	    //                     stroke: $minicartBorderActive;
	    //                 }

	    //                 &#headerPhone {
	    //                     transform: rotate(-15deg);
	    //                 }
	    //             }

	    //             span {
	    //                 // color: $minicartBorderActive;
	    //             }
	    //         }
	    //     }

	    //     svg {
	    //         width: 50%;
	    //         padding: 0.6rem;
	    //     }

	    //     span, p {
	    //         width: 100%;
	    //         display: flex;
	    //         justify-content: center;
	    //         // margin-top: 0.5rem;
	    //         font: {
	    //             size: $font-size-large;
	    //             family: $primary-font;
	    //         };
	    //         color: $minicartBorder;
	    //         transition: all 0.3s;
	    //     }

	    //     .social-icon {
	    //         // margin-bottom: 1rem;
	    //         // transition: all 0.3s;

	    //         rect,
	    //         circle {
	    //             fill: none;
	    //             stroke: $minicartBorder;
	    //             transition: all 0.3s;
	    //         }

	    //         #instagramIcon,
	    //         #vkIcon {
	    //             transition: transform 0.3s;
	    //             transform-origin: 50% 50%;
	    //         }

	    //         #instagramPhoto,
	    //         #instagramObjective {
	    //             fill: none;
	    //             stroke-width: 0.1rem;
	    //             transition: all 0.3s;
	    //         }

	    //         #instagramBlink {
	    //             fill: $minicartBorder;
	    //             stroke: none;
	    //             transition: all 0.3s;
	    //         }

	    //         #vkIcon {
	    //             fill: $minicartBorder;
	    //             stroke: none;
	    //             transition: all 0.3s;
	    //         }

	    //         &:hover {


	    //             #instagramIcon,
	    //             #vkIcon {
	    //                 transform: scale(1.05);
	    //             }

	    //             circle,
	    //             #instagramPhoto,
	    //             #instagramObjective {
	    //                 stroke: $minicartBorderActive;
	    //             }

	    //             #instagramBlink,
	    //             #vkIcon {
	    //                 fill: $minicartBorderActive;
	    //             }
	    //         }
	    //     }

	    //     @include grid-media($Small) {
	    //         width: $headerIconWidthMobile;
	    //         padding: 0;

	    //         svg {
	    //             width: calc(100% - 0.6rem);
	    //             height: calc(100% - 0.6rem);
	    //         }

	    //         span, p {
	    //             display: none;
	    //             visibility: hidden;
	    //         }
	    //     }
	    // }

	    @include grid-media($Small) {
	        width: 100%;
	        min-height: auto;
	        height: calc(100vh - #{$headerHeightMobile});
	        // top: ;
	        padding: $headerHeightMobile 0 0;
	    }
	}

	&-category {
		width: calc(100% - (#{$headerWidth} * 2));
		padding: 0 $headerWidth;

		.top-hero {
			width: 100%;
			height: 100vh;
			position: relative;

			&__pattern {
		        background: url('images/pattern2.png') scroll;
		        width: 100%;
		        height: 100%;
		        top: 0;
		        left: 0;
		        z-index: 3;
		        position: absolute;
		    }

		    &__overlay {
		        background-color: $primary;
		        width: 100%;
		        height: 100%;
		        top: 0;
		        left: 0;
		        opacity: 0.5;
		        z-index: 2;
		        position: absolute;
		    }

		    &__image {
				width: 100%;
				height: 100vh;
		    	background-position: 50% 50%;
				background-size: cover;
		    }

		    &__title {
		    	width: 100%;
	            height: $headerTitleHeight;
	            display: flex;
	            align-items: center;
	            justify-content: center;
	            position: relative;
	            top: 0;
	            z-index: 100;

	            h1 {
	                font-size: $font-size-h1;
	                margin: 0;
	                display: inline-block;
	                color: $third;
	                text-align: center;
	                z-index: 1000;
	            }
		    }

		    &__text {
		    	width: calc(100% - 10rem);
		    	display: block;
		    	position: absolute;
		    	font: {
		            family: $primary-font;
		            size: $font-size-large + 0.5;
		        };
		        // text-transform: uppercase;
		        color: $third;
		        padding: 0 5rem;
		    	left: 50%;
		    	top: 50%;
		    	text-align: center;
		    	transform: translate(-50%, -50%);
		    	z-index: 10;
		    }
		}

		&__select {
			width: calc(100% - (#{$headerWidth} * 2));
			height: $headerHeight;
			position: fixed;
			top: 0;
			border-bottom: $border;
			background-color: $headerBack;
			z-index: 9999;

			ul {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: row;
				justify-content: center;
				margin: 0;

				.select {
					width: calc(100% / 10);
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;

					&__circle {
						width: $headerHeight / 1.8;
						height: $headerHeight / 1.8;
						display: flex;
						align-items: center;
						justify-content: center;
						border: $border;
						border-radius: 50%;
						cursor: pointer;
						transition: all 0.3s;

						span {
							font-size: $font-size-large;
							color: $sliderLinkColor;
							transition: all 0.2s;
						}

						&:hover {
							background-color: $sliderLinkColor;

							span {
								color: $headerBack;
							}
						}
					}

					&__icon {
						width: $headerHeight / 1.2;
						height: $headerHeight / 1.2;
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						background-size: cover;
						background-position: 0 0;
						background-repeat: no-repeat;

						&:hover {
							background-position: 100.5% 0;
						}
					}

					#tabBurger {
						background-image: url('images/icon_hamburger_2.png');
					}

					#tabSandvich {
						background-image: url('images/icon_sandvich_2.png');
					}

					#tabHotdog {
						background-image: url('images/icon_hotdog_2.png');
					}

					#tabDrinks {
						background-image: url('images/icon_drinks.png');
					}

					&.active {

						.select__circle {
							background-color: $sliderLinkColor;

							span {
								color: $headerBack;
							}
						}

						.select__icon {
							background-position: 100.5% 0;
						}
					}
				}
			}

			@include grid-media($Small) {
				width: 100%;
				height: $headerHeightMobile;
				top: $headerHeightMobile;
				// border-top: $border;

				ul {

					.select {
						width: calc(100% / 6);

						&__circle {
							width: $headerHeight / 2;
							height: $headerHeight / 2;
						}

						&__icon {
							width: $headerHeight / 1.5;
							height: $headerHeight / 1.5;
						}

						&--mobile {
							width: calc(100% / 4);
						}
					}
				}
			}
		}

		@include grid-media($Small) {
		    width: 100%;
			padding: 0;
			z-index: 9920;

		    .top-hero {

		    	&__text {
		    		width: calc(100% - 2rem);
		    		font-size: $font-size-large;
		    		padding: 0 1rem;
		    		// margin-top: $headerHeightMobile;
		    	}

		    	&__title {

		    		h1 {
		    			font-size: $font-size-h1 + 6;
		    		}
		    	}
		    }
		}
	}

	&-cart {
		width: calc(100% - (#{$headerWidth} * 2));
		display: flex;
		flex-direction: row;
		padding: 0 $headerWidth;
		// left: 10%;

		@include grid-media($Small) {
		    width: calc(100% - 2rem);
		    flex-direction: column;
		    padding: 0 1rem;
		}
	}

	&-order {
		width: calc(100% - (#{$headerWidth} * 2));
		height: 100vh;
		// display: flex;
		// align-items: center;
		// justify-content: center;
		padding: 0 $headerWidth;
		display: block;
		position: relative;
		background-image: url('images/hand_back_4.png');
		background-repeat: repeat;
		overflow: hidden;

		&__text {
			width: calc(100% - (#{$headerWidth} * 2) - 6rem);
			text-align: center;
			position: absolute;
			top: 50%;
			left: 50%;
			padding: 0 ($headerWidth + 3rem);
			transform: translate(-50%, -50%);
			z-index: 10;

			h1 {
				color: $third;
			}

			h3 {
				font-size: 2.5vw;
				color: $third;
			}
		}

		&__image {
			width: 30%;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0.5;

			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}

		@include grid-media($Small) {

			&__image {
				width: calc(100% - 2rem);
				padding: 0 1rem;
			}
		}
	}

	/*===================================
	=            Information            =
	===================================*/

	&-info {
		width: calc(100% - (#{$headerWidth} * 2));
		min-height: 100vh;
		// display: flex;
		// align-items: center;
		// justify-content: center;
		padding: 0 $headerWidth;
		display: block;
		position: relative;
		// background-image: url('images/hand_back_4.png');
		// background-repeat: repeat;

		@include grid-media($Small) {
		    width: 100%;
		    padding: 0;
		}
	}

	ol {
		padding-left: 0;
		counter-reset: li !important;
		list-style: none !important;

		&.dogovor-list {
			font: {
				family: $heading-font;
				size: $font-size-h4;
				weight: normal;
			}

			a {
				font-weight: bold;
			}
		}

		li {
			margin-bottom: 12px;

			&:before {
				counter-increment: li !important;
				content: counters(li,".") ". ";
			}

			ol {
				font: {
					family: $primary-font;
					size: $font-size-base;
				}
				padding-left: 46px;

				li {

					&:before {
						margin-left: -28px;
					}
				}
			}
		}
	}

	/*=====  End of Information  ======*/

	#wrapperCategory {
		position: absolute;
	}

	@include grid-media($Medium) {
		//padding: 6rem 1rem 0;
	}

	@include grid-media($Small) {

		&-category {
			overflow: hidden;
		}

		&_news {
			padding-right: 0;
		}
	}

	@include grid-media($Small) {
		//padding: 0 1rem;
	}
}

.filled {
	fill: $primary;
}
/* @end  */

/*! @group Arrow down */
/* ========================================================================== */
.arrow-down {
	width: 20px;
	height: 40px;
	display: block;
	border: 0.15rem solid $minicartBorder;
	border-radius: 20px;
	//border-top-left-radius: 25px;
	//border-top-right-radius: 25px;
	position: absolute;
	// margin: 0 auto 0 -15px;
	left: 50%;
	bottom: 3rem;
	// padding-top: 5px;
	// animation: fadeIn 1.4s ease-in-out;
	z-index: 10;

	// &:hover {
	// 	//border-color: lighten(@brand-primary, 25%);
	// }

	svg {
		margin: -3px 0 0 1px;
		animation: down 0.6s ease-out alternate;
		animation-iteration-count: infinite;

		line, polyline {
			stroke: $minicartBorder;
			stroke-width: 0.1rem;
		}
	}

	&__button {
		width: 0.5rem;
		height: 0.5rem;
		display: block;
		position: absolute;
		background-color: $minicartBorder;
		border-radius: 50%;
		left: 50%;
		margin-top: 0.4rem;
		margin-left: -0.24rem;
		animation: down 0.6s ease-out alternate;
		animation-iteration-count: infinite;
		// transform: translateY(-50%);
	}

	@include grid-media($Small) {
		display: none;
		visibility: hidden;
	}
}

@keyframes down {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(4px);
	}
}

/* @end  */
