/*================================
=            Minicart            =
================================*/

.minicart {

    &-content {
        width: $headerWidth;
        height: calc(100vh - (#{$headerHeight} + 2rem));
        display: flex;
        // align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        padding: $headerHeight 0 2rem;
        background-color: $headerBack;
        border-left: $border;
        z-index: 100;

        &__link {
            width: calc(100% - 6rem);
            height: 4rem;
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 4rem 0 2rem;
            background-color: lighten($primary, 10%);
        }

        &__cart {
            width: $headerWidth;
            height: $headerHeight;
            position: fixed;
            top: 0;
            right: 0;
            // border-bottom: $border;
            z-index: 200;

            svg {
                width: 4rem;
                height: 3.5rem;
                padding: 0.3rem;
                position: absolute;
                right: calc(5% - 0.15rem);
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .minicartHandle {
                transform-origin: 50% 22%;
                transform: scale(1, -1);
            }

            .cost-currency {
                min-width: 4rem;
                // height: 2rem;
                display: flex;
                justify-content: center;
                text-align: center;
                color: $minicartBorderActive;
                font-size: $font-size-small - 0.2;
                // margin-left: 0.15rem;
                position: absolute;
                top: 83%;
                // left: -0.15rem;
            }

            @include grid-media($Small) {
                width: $headerHeightMobile + 1;
                height: $headerHeightMobile;
                z-index: 9990;

                svg {
                    width: $headerHeightMobile;
                    height: $headerHeightMobile;
                }

                .cost-currency {
                    top: 65%;
                }
            }
        }

        &__empty {


            @include grid-media($Small) {
                // width: $headerHeightMobile;
                height: $headerHeightMobile;
                background-color: $primary;
                border-bottom: $border;

                svg {
                    width: $headerHeightMobile - 0.5rem;
                    height: $headerHeightMobile - 0.5rem;
                    right: 0.5rem;
                    top: 42%;
                    transform: translate(0, -50%);

                    polygon,
                    path,
                    polyline,
                    line,
                    circle {
                        stroke-width: 0.1rem;
                    }
                }
            }
        }

        &__notempty {
            // display: flex;
            // flex-direction: row;

            svg {
                width: $headerHeightMobile;
                height: $headerHeightMobile;
                padding: 0.3rem;
                fill: none;

                polygon,
                path {
                    stroke: $minicartBorderActive;
                }

                #cartInside {
                    animation: cartDown 1s normal;
                }

                // .minicartHandle {
                //     // transform-origin: 50% 22%;
                //     // transform: scale(1, -1);
                // }
            }

            @include grid-media($Small) {
                width: $headerHeightMobile + 1;
                height: $headerHeightMobile;
                background-color: $minicartBorder;
                border-bottom: $border;

                svg {
                    width: $headerHeightMobile + 1;
                    height: $headerHeightMobile + 0.5;
                    // width: 2.6rem;
                    // height: 2.6rem;
                    display: none;
                    visibility: hidden;
                }
            }
        }

        &__count {
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 45%;
            left: 45%;
            transform: translate(-50%, -50%);
        }

        &__cost {
            width: 100%;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 1.5rem;
            // left: calc(50% - 0.15rem);
            left: 0;
            // padding-left: 1rem;
            text-align: left;
            // transform: translate(-50%, -50%);

            .ms2_total_cost {
                font: {
                    family: $heading-font;
                    size: $font-size-base;
                };
            }

            @include grid-media($Small) {
                height: $headerHeightMobile;
                top: 0;
                // left: 50%;

                .ms2_total_cost {
                    font: {
                        family: $heading-font;
                        size: $font-size-large;
                    };
                }
            }
        }

        &__to-cart {
            width: $headerHeightMobile * 2;
            height: $headerHeightMobile;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: $headerHeightMobile + 1;
            z-index: 5;
        }

        @include grid-media($XXLarge) {

            &__to-cart {
                display: none;
                visibility: hidden;
            }
        }

        @include grid-media($XLarge) {

            &__to-cart {
                display: none;
                visibility: hidden;
            }
        }

        @include grid-media($Large) {

            &__to-cart {
                display: none;
                visibility: hidden;
            }
        }

        @include grid-media($Medium) {

            &__to-cart {
                display: none;
                visibility: hidden;
            }
        }

        @include grid-media($Small) {
            width: 60%;
            height: calc(100vh - #{$headerHeightMobile});
            top: $headerHeightMobile;
            right: -100%;
            padding: 1rem 0;
            overflow: hidden;
            z-index: 9990;

            &__to-cart {
                display: flex;
                visibility: visible;
            }
        }
    }

    &-close {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 1rem;
        right: 1rem;

        svg {
            width: 1.7rem;
            height: 1.7rem;
            padding: 0.15rem;
            fill: #fff;
            // stroke: #fff;
            transform: rotate(45deg);
            transition: transform 0.3s;
        }

        &:hover {

            svg {
                transform: rotate(225deg);
            }
        }
    }
}

ul#mc-dynamic {
    width: 100%;
}

.mcd-table {
    width: 100%;
    min-height: 2rem;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    background-color: $minicartBorder;
    color: $third;
    position: relative;
    // border-top: $cart_table_border solid $minicartBorder;
    // border-bottom: $cart_table_border solid $minicartBorder;
    // border-right: none;

    &:first-child {
        margin-top: 0;
    }

    &__image {
        width: 20%;
        // height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: $cart_table_border solid $minicartBorder;
        border-left: none;
        background-color: $secondary;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__product {
        width: 100%;
        // min-height: 4rem;
        display: flex;
        flex-direction: column;
        // border: $cart_table_border solid $minicartBorder;
        // border-left: none;

        .product {
            width: 100%;
            height: 100%;

            &__title {
                width: calc(100% - 2rem);
                height: calc(100% - (#{$cart_vert_paddind} * 2));
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: $cart_vert_paddind 1rem;
                font-size: $font-size-small;

                // a {
                //     // color: $colorTextOnBlack;

                // }
            }
        }
    }

    &__count {
        width: 100%;
        // height: 4rem;
        display: flex;
        flex-direction: row;
        // border: $cart_table_border solid $minicartBorder;
        border-left: none;

        .count {

            &__count {
                width: calc(50% - 1rem);
                height: calc(100% - (#{$cart_vert_paddind} * 2));
                // border-bottom: $cart_table_border solid $minicartBorder;
                padding: $cart_vert_paddind 0 $cart_vert_paddind 1rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                // color: $colorTextOnBlack;
                font-size: $font-size-small;
            }

            &__price {
                width: 50%;
                height: calc(100% - (#{$cart_vert_paddind} * 2));
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: $cart_vert_paddind 0;
                // color: $colorTextOnBlack;
                font-size: $font-size-small;
            }
        }
    }

    &__remove {
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;

        button {
            width: 0.75rem;
            height: 0.75rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            background-color: transparent;
            border: none;
            padding: 0;
            cursor: pointer;
            outline: none;

            svg {
                width: 0.75rem;
                height: 0.75rem;
                transform: rotate(45deg);

                polygon {
                    fill: $primary;
                    stroke-width: 0.3rem;
                    stroke: none;
                }
            }

            &:hover {
                svg {
                    polygon {
                        fill: $third;
                    }
                }
            }
        }
    }
}

/*=====  End of Minicart  ======*/
