/*=============================
=            Order            =
=============================*/

.cart-order {
    width: calc(50% - 8rem);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding: 1rem 4rem 7rem;

    // &__deliveries {
    //     // display: none;
    //     // visibility: hidden;
    // }

    &__input {

        input {
            width: calc(100% - 2rem);
            // height: 1.5rem;
            padding: 0.5rem 1rem;
            margin-bottom: 0.5rem;
            border: $border;
            background-color: transparent;
            font: {
                size: $font-size-base;
                family: $primary-font;
            };
            color: $third;
            outline: none;
            transition: all 0.2s;

            &:focus {
                border: $borderFocus;
            }

            &:focus::-webkit-input-placeholder {
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            &:focus::-moz-placeholder {
                color: transparent;
                transition: 0.2s;
            }

            &:focus:-ms-input-placeholder {
                color: transparent;
                transition: 0.2s;
            }

            &::-webkit-input-placeholder { /* WebKit browsers */
                opacity: 1;
                transition: opacity 0.3s ease;
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: $primary;
                opacity:  1;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: $primary;
                opacity:  1;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10+ */
                color: $primary;
            }
        }

        textarea {
            width: calc(100% - 2rem);
            min-height: 5rem;
            padding: 0.5rem 1rem;
            margin-bottom: 0.5rem;
            border: $border;
            background-color: transparent;
            font: {
                size: $font-size-base;
                family: $primary-font;
            };
            color: $third;
            outline: none;
            transition: all 0.2s;

            &:focus {
                border: $borderFocus;
            }

            &:focus::-webkit-input-placeholder {
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            &:focus::-moz-placeholder {
                color: transparent;
                transition: 0.2s;
            }

            &:focus:-ms-input-placeholder {
                color: transparent;
                transition: 0.2s;
            }

            &::-webkit-input-placeholder { /* WebKit browsers */
                opacity: 1;
                transition: opacity 0.3s ease;
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: $primary;
                opacity:  1;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: $primary;
                opacity:  1;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10+ */
                color: $primary;
            }
        }

        .checkbox {
            display: inline-block;
            position: relative;
            top: 1px;
            width: 20px;
            height: 20px;
            border: 2px solid $primary;
            background-color: #fff;
            transition: background 150ms ease;
            cursor: pointer;

            // &:hover {
            //     // background: rgba(33, 16, 118, .5);
            // }

            &:after {
                content: "";
                position: absolute;
                top: 1px;
                left: 5px;
                width: 6px;
                height: 12px;
                opacity: 0;
                transform: rotate(45deg) scale(0);
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;
                transition: all 325ms ease;
            }
        }

        input[type=checkbox] {
            display: none;
            position: relative;
            width: 20px;
            height: 20px;
            border: 2px solid $primary;
            transition: background 150ms ease;
            cursor: pointer;
            box-sizing: border-box;
            padding: 0;

            &:checked {
                & ~ .checkbox {
                    border-color: transparent;
                    background: $warning;
                    animation: wiggle 400ms ease;

                    &:after {
                        opacity: 1;
                        transform: rotate(45deg) scale(1);
                    }
                }

                & ~ .checklist-item__title {
                    text-decoration: line-through;
                    transition: all 175ms ease;
                    opacity: .5;
                }
            }
        }

        @keyframes wiggle {
            from {
                transform: scale(1, 1);
            }

            30% {
                transform: scale(1.25, .75);
            }

            40% {
                transform: scale(.75, 1.25);
            }

            50% {
                transform: scale(1.15, .85);
            }

            65% {
                transform: scale(.95, 1.05);
            }

            75% {
                transform: scale(1.05, .95);
            }

            to {
                transform: scale(1, 1);
            }
        }
    }

    .checkbox-agreement {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;

        p {
            font-size: $font-size-small;
            margin: 0.3rem 0 0 0.5rem;
        }
    }

    &__well {
        width: calc(100% - (#{$headerWidth} * 2));
        height: 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: $headerWidth;
        background-color: $minicartBorder;

        h3 {
            width: calc(80% - 4rem);
            height: 100%;
            display: flex;
            align-items: center;
            color: $primary;
            padding: 0 2rem;
            margin: 0;
        }

        button {
            width: 20%;
            height: 100%;
            border: none;
            outline: none;
            background-color: lighten($primary, 60%);
            font: {
                family: $heading-font;
                size: $font-size-h3;
            };
            color: $primary;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                background-color: lighten($primary, 70%);
                letter-spacing: 0.05rem;
            }
        }

        &-order {

            h3 {
               width: calc(100% - 4rem);
               justify-content: center;
               text-align: center;
            }
        }

        @include grid-media($Small) {
            width: calc(100% - 1rem);
            height: $headerHeightMobile;
            left: 0;
            padding: 0 0 0 1rem;

            h3 {
                width: calc(100% - (#{$headerHeightMobile} * 1.5));
                font-size: 5vw;
                padding: 0;
                text-align: left;
            }

            button {
                width: $headerHeightMobile * 1.5;
                height: 100%;
                font-size: 5vw;
            }

            &-order {
                width: calc(100% - 2rem);
                height: $headerHeightMobile;
                // background-color: $minicartBorder;
                left: 0;
                padding: 0 1rem;

                h3 {
                    width: 100%;
                    font-size: 5vw;
                    padding: 0;
                }
            }
        }
    }

    @include grid-media($Small) {
        width: 100%;
        padding: 1rem 0 5rem;

        &__text {
            display: none;
            visibility: hidden;
        }
    }
}

/*=====  End of Order  ======*/
