/*======================================
=            Permission 18+            =
======================================*/

.permission {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $primary;
    position: fixed;
    z-index: 9990;

    &-content {
        width: calc(50% - 4rem);
        min-height: calc(40% - 4rem);
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 2rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        // background-color: #fff;

        &__logo {
            width: 20rem;
            min-height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            // padding: 0.5rem;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, -50%);
            // background-color: #fff;

            img {
                width: 100%;
                height: auto;
                display: block;
                z-index: 1;
            }
        }

        &__close {
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 0;
            padding: 1rem;
            cursor: pointer;

            svg {
                width: 1.3rem;
                height: 1.3rem;
                transform: rotate(-45deg);
                transition: transform 0.3s;
            }

            &:hover {

                svg {
                    transform: rotate(135deg);
                }
            }
        }

        &__age {
            text-align: center;

            h1 {
                text-transform: uppercase;
                margin-bottom: 0.3rem;
            }
        }

        &__welcome {
            text-align: center;

            h2 {
                // margin: 0;
                font-size: 3vw;
            }

            p {
                font-size: $font-size-small;
            }
        }

        &__button {
            width: 13rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            // margin-top: 1rem;
            z-index: 10;

            &-block {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding: 0.5rem 0;
                font: {
                    family: $heading-font;
                    size: $font-size-large + 0.5;
                };
            }

            &#permissionYes {

                > span {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 0.15rem;
                    background-color: lighten($primary, 50%);
                    border: 0.15rem solid lighten($primary, 50%);
                    color: $primary;
                    cursor: pointer;
                    transition: all 0.3s;

                    &:hover {
                        border-color: lighten($primary, 40%);
                        background-color: lighten($primary, 40%);
                    }
                }
            }

            &#permissionNope {


                > span {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 0.15rem;
                    // background-color: lighten($primary, 50%);
                    border: 0.15rem solid lighten($primary, 50%);
                    color: lighten($primary, 50%);
                    cursor: pointer;
                    transition: background 0.3s;

                    &:hover {
                        background-color: darken($primary, 5%);
                    }
                }
            }

            &-away {
                width: 13rem;
                height: 3rem;
                justify-content: center;
                z-index: 10;
                margin-top: -3rem;
                left: 50%;
                bottom: 3rem;
                transform: translateX(-50%);
                position: absolute;
                display: none;
                visibility: hidden;

                &#permissionAway {

                    > span {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-top: 0.15rem;
                        background-color: lighten($primary, 50%);
                        border: 0.15rem solid lighten($primary, 50%);
                        font: {
                            family: $heading-font;
                            size: $font-size-large + 0.5;
                        };
                        color: $primary;
                        cursor: pointer;
                        transition: all 0.3s;

                        &:hover {
                            border-color: lighten($primary, 40%);
                            background-color: lighten($primary, 40%);
                        }
                    }
                }
            }

        }

        &__alert {
            width: calc(100% - 8rem);
            height: 7rem;
            align-items: center;
            justify-content: center;
            position: absolute;
            padding: 1rem 2rem;
            top: 7rem;
            text-align: center;
            opacity: 0;
            display: none;
            visibility: hidden;

            h2 {
                // margin: 0;
                font-size: 2.5vw;
            }

            p {
                font-size: $font-size-base;
                color: $secondary;
            }
        }
    }

    &-visible {
        display: block;
        visibility: visible;
    }

    &-hidden {
        display: none;
        visibility: hidden;
    }

    @include grid-media($Medium) {
        z-index: 99999;

        &-content {
            width: calc(60% - 4rem);
            min-height: calc(60% - 4rem);

            &__age {

                h1 {
                    font-size: $font-size-large + 2;
                }
            }

            &__button {


                span#permissionButton {
                    width: 100%;
                }
            }

            &__alert {
                height: 55%;
            }
        }
    }

    @include grid-media($XSmall) {
        z-index: 99999;

        &-content {
            width: calc(60% - 4rem);
            min-height: calc(50% - 4rem);

            &__age {

                h1 {
                    font-size: $font-size-large + 2;
                }
            }

            &__button {


                span#permissionButton {
                    width: 100%;
                }
            }

            &__alert {
                height: 65%;
                bottom: 2rem;
            }
        }
    }

    @include grid-media($Small) {
        z-index: 99999;

        &-content {
            width: calc(100% - 2rem);
            min-height: calc(65% - 2rem);
            font-size: $font-size-small;
            padding: 1rem;

            &__logo {
                width: calc(100% - 2rem);
                padding: 1rem;
                position: relative;
                transform: translate(-50%, 0);
            }

            &__age {
                position: relative;

                h1 {
                    font-size: $font-size-large + 1;
                    margin-bottom: 0;
                }
            }

            &__button {
                width: 100%;
                height: auto;
                margin: 0.5rem 0;

                &-block {
                    flex-direction: column;
                }

                &#permissionYes,
                &#permissionNope {

                    > span {
                        height: auto;
                        padding: 0.65rem 0 0.5rem;
                    }
                }
            }

            &__welcome {

                h2 {
                    font-size: $font-size-large + 0.2;
                }

                p {
                    margin-bottom: 0.5rem;
                }
            }

            &__alert {
                width: calc(100% - 6rem);
                // height: 3rem;
                bottom: 1rem;

                h2 {
                    font-size: $font-size-large + 0.2;
                }

                // p {
                //     font-size: $font-size-large + 0.2;
                // }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*=====  End of Permission 18+  ======*/
