/*===============================
=            Product            =
===============================*/

$productPriceGroupHeight: 85%;

.product-group {
    width: 100%;
    // min-height: 50vh;
    display: flex;
    flex-direction: column;
    right: 0;
    border-bottom: $border;

    .product-category {

        &__title {
            height: $productPriceGroupHeight;
            text-align: left;
        }

        &__text {
            height: 100% - $productPriceGroupHeight;
        }

        &__price {

            .price {
                height: $productPriceGroupHeight;
            }

            .count {
                height: 100% - $productPriceGroupHeight;
            }
        }
    }

    // &:last-child {
    //     // border-bottom: none;
    // }

    &__title {
        width: calc(100% - 4rem);
        display: flex;
        align-items: center;
        justify-content: center;
        // padding-left: 2rem;
        padding: 2rem;

        h2 {
            margin: 0;
            color: $third;
        }

        @include grid-media($XSmall) {
            width: calc(100% - 1rem);
            padding-left: 1rem;

            h2 {
                font-size: $font-size-large + 0.5;
                margin: 0.5rem 0;
            }
        }
    }

    &__form {
        width: calc(100% - 2rem);
        min-height: 50vh;
        display: flex;
        flex-direction: row;
        padding: 0 0 0 2rem;

        @include grid-media($XSmall) {
            width: 100%;
            flex-direction: column;
        }

        @include grid-media($Small) {
            width: 100%;
            flex-direction: column;
        }
    }

    &__main {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // border-bottom: $border;

        @include grid-media($XSmall) {
            width: 100%;
        }

        @include grid-media($Small) {
            width: 100%;
        }
    }

    &__part {
        width: 100%;
        min-height: 5rem;
        display: flex;
        flex-direction: row;
    }

    &__image {
        width: calc(30% - 4rem);
        min-height: 5rem;
        // display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;

        img {
            width: 100%;
            // height: 100%;
            // margin: 2rem;
        }
    }

    &__text {
        width: calc(70% - 2rem);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 2rem 0 0;

        p {
            margin: 0;
            color: $third;
            text-align: left;
            // font-size: $font-size-large;
            line-height: 1.2;
        }

        @include grid-media($Medium) {
            width: calc(100% - 1rem);
            padding: 0 1rem 0 0;
        }

        @include grid-media($XSmall) {
            width: calc(100% - 2rem);
            padding: 0 1rem;

            p {
                margin: 1rem 0;
            }
        }
    }

    &__price {
        width: 30%;
        // height: 100%;
        display: flex;
        flex-direction: column;
        // border-left: $border;

        .price {
            width: 100%;
            height: $productPriceGroupHeight;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3 {
                margin: 0;
                color: $third;
                font-size: $font-size-h2;
            }

            h4 {
                margin: 0;
            }

            @include grid-media($Small) {
                width: calc(100% - 1rem);
                padding-left: 1rem;
                justify-content: flex-start;

                h3 {
                    font-size: $font-size-large + 0.5;
                }

                h4 {
                    font-size: $font-size-large;
                }
            }
        }

        .count {
            width: 100%;
            height: 100% - $productPriceGroupHeight;
            display: flex;
            align-items: center;
            justify-content: center;

            .input-group {
                width: 100%;
                height: calc(100% - 0.3rem);
                display: flex;
                flex-direction: row;
                border-top: $border;
                border-left: $border;
            }

            .dynamic-input {
                width: calc(100% / 3);
                // height: 100%;
                text-align: center;
                background-color: transparent;
                border-top: none;
                border-bottom: none;
                border-left: $border;
                border-right: $border;
                color: $third;
                font-size: $font-size-large;
            }

            .dynamic-count-block,
            .dynamic-count {
                width: calc(100% / 3);
                // height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                // border-top: $border;
                // border-bottom: $border;
                cursor: pointer;
                font-size: $font-size-large + 1.2;
                line-height: 1.3;
                margin-top: 0.15rem;
            }
        }

        @include grid-media($XXLarge) {

            .count {

                .dynamic-count-block,
                .dynamic-count {
                    font-size: modular-scale(8);
                }

                .dynamic-input {
                    font-size: modular-scale(4);
                }
            }
        }

        @include grid-media($XLarge) {

            .count {

                .dynamic-count-block,
                .dynamic-count {
                    font-size: modular-scale(5);
                }

                .dynamic-input {
                    font-size: modular-scale(3);
                }
            }
        }

        @include grid-media($Large) {

            .count {

                .dynamic-count-block,
                .dynamic-count {
                    font-size: $font-size-large + 1.2;
                }

                .dynamic-input {
                    font-size: $font-size-large;
                }
            }
        }

        @include grid-media($XSmall) {
            width: 100%;
            flex-direction: row;
            align-items: center;

            .price {
                width: 40%;
            }

            .count {
                width: 60%;
            }
        }
    }

    // &:first-child {
    //     // border-top: $border;
    // }

    &:last-child {
        border-bottom: none;
    }

    @include grid-media($Medium) {
        min-height: 10rem;

        &__image {
            width: calc(25% - 2rem);
            padding: 1rem;
        }

        &__form {
            width: 75%;
        }
    }

    @include grid-media($XSmall) {
        flex-direction: column;

        &__image {
            width: calc(100% - 4rem);
            padding: 2rem;
        }

        &__form {
            width: 100%;
        }
    }

    @include grid-media($Small) {
        min-height: 5rem;
        height: auto;
        margin-bottom: 1rem;
        flex-direction: column;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// .ms2_product {
//     // margin: 0 !important;

//     .price {
//         // padding: 0 !important;
//     }
// }

/*=====  End of Product  ======*/