/*===============================
=            Section            =
===============================*/
$sectionHeightFront: 100vh / 2;

.section {
	width: 100%;
	height: calc((#{$sectionHeightFront}) - 0.15rem);
    display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: center;
	position: relative;
    overflow: hidden;
    border-bottom: $border;
    // padding: 0 2rem;
    transition: all 0.3s;

    // &:nth-child(2n) {
    //     // flex-direction: row-reverse;
    // }

	&-category {
		display: flex;
		flex-direction: row;

		&__image {
			width: calc(#{$categoryPart} * 8);
			height: 100vh;
		}

		&__products {
			width: calc(#{$categoryPart} * 2);
			height: 100vh;
			display: flex;
			flex-direction: column;
		}
	}

	&-hero {
		width: 100%;
	    height: 100vh;
	    @include clearfix;
	    line-height: 1.5;
	    // padding: 6rem 0;
	    position: relative;
	    overflow: hidden;
	}

	&-sidebar {
		width: 7rem;
	    height: 100vh;
	    display: flex;
	    justify-content: flex-start;
	    flex-direction: column;
	    position: fixed;
	    top: 0;
	    left: 0;
	    // padding-top: 6rem;
	    // border-right: $border;
	    // background-color: $headerBack;
	    // transform: translateY(-50%);
	    z-index: 100;
	}

	&-content {
        width: 100%;
        // height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        padding: 0 2rem;
        position: relative;
        // border-top: $border;
        // border-bottom: $border;

        &__text {
            width: 100%;
            min-height: 3rem;
            display: flex;
            // flex-direction: column;
            align-items: center;
            justify-content: center;
            // margin-top: -10%;
            z-index: 2;
        }

        &__back {
            width: 100%;
            height: 100%;
            // top: 0;
            // right: 0;
            // bottom: 0;
            // left: 0;
            display: block;
            position: absolute;
            // background-color: $primary;
            background-image: url('images/pattern2.png');
            // background-size: cover;
            // background-repeat: repeat;
            // background-position: 50% 50%;
            z-index: 1;
        }

        @include grid-media($Small) {
            width: calc(100% - 2rem);
            padding: 0 1rem;

            &__text {

                h2 {
                    font-size: 13vw;
                }

                p {
                    font-size: $font-size-large;
                }
            }
        }
    }

    h2 {
        // font-family: $primary-font;
        font-size: 10vh;
        line-height: 1;
        color: rgba($third, 0.6);
        // color: $third;
        margin: 0;
        top: 52.5%;
        position: absolute;
        text-align: center;
        transition: all 0.6s;
        // border: 0.15rem solid $third;
        transform: translateY(-50%);
    }

    p {
        font: {
            family: $heading-font;
            size: $font-size-h3;
        };
        text-transform: uppercase;
        color: $third;
        text-align: center;
        margin: 1rem 0;
    }

    span {
        font: {
            family: $primary-font;
            size: $font-size-large;
        };
        line-height: 1;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        margin-top: -1rem;
        opacity: 0;
        transform: translateY(-50%);
        transition: all 0.8s;
    }

    a {
        width: calc(100% - 6rem);
        height: calc(#{$sectionHeightFront});
        display: flex;
        // align-items: center;
        font: {
            family: $heading-font;
            // size: $font-size-h3;
        };
        // padding: 0.5rem 1.5rem;
        // margin-top: 2rem;
        // border: $borderFocus;
        // border-radius: 50%;
        // position: absolute;
        // bottom: 20%;
        position: relative;
        overflow: hidden;
        // transition: all 0.6s;
        transform-origin: 0 100%;
        z-index: 10;

        // &:after {
        //     content: "";
        //     width: 30%;
        //     height: 0.15rem;
        //     display: block;
        //     top: 46%;
        //     // right: 0;
        //     // bottom: 0;
        //     // left: 0;
        //     // margin-top: 0.5rem;
        //     position: absolute;
        //     // box-sizing: border-box;
        //     background-color: $third;
        //     opacity: 0;
        //     transition: all 0.8s;
        //     // z-index: -1;
        // }

        // &:before {
        //     transform: translateY(-100%);
        // }

        // &:after {
        //     transform: translateY(100%);
        // }

        &:hover {
            // background-color: transparent;
            // border: 0.15rem solid transparent;
            // padding: 0.5rem 2rem;
            // // margin-top: 1.4rem;

            &:after {
                width: 70%;
                opacity: 1;
            }

            .section__line {
                width: 70%;
                opacity: 1;
            }

            h2 {
                // font-family: $heading-font;
                color: $third;
                letter-spacing: 0.3rem;
            }
        }
    }

    &__pattern {
        background: url('images/pattern2.png') scroll;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        z-index: 2;
        transition: opacity 0.3s;
    }

    &__image {
        width: 60%;
        height: calc(#{$sectionHeightFront});
        position: relative;
        // overflow: hidden;
        z-index: 1;

        img {
            width: 100%;
            height: auto;
            left: 50%;
            top: 50%;
            position: absolute;
            transform: translate(-50%, -50%) scale(1.3);
            // filter: blur(3px);
            transition: all 0.8s;
        }
    }

    &__line {
        width: 30%;
        height: 0.15rem;
        display: block;
        top: 50%;
        position: absolute;
        background-color: $third;
        opacity: 0;
        transition: all 0.8s;
        // z-index: -1;
        transform: translatey(-50%);
    }

    &#sectionFrontSecond {

        a {
            justify-content: flex-start;
            position: absolute;
            left: 0;
            padding-left: 6rem;

            // &:after {
            //     right: 6rem;
            // }

            span {
                right: 6rem;
                margin-right: 1rem;
            }

            &:hover {

                span {
                    opacity: 1;
                    margin-right: 0;
                }
            }
        }

        .section__image {
            position: absolute;
            right: 0;
        }

        .section__line {
            right: 6rem;
        }

        // &__pattern {
        //     right: 0;
        // }
    }

    &#sectionFrontFirst {

        a {
            justify-content: flex-end;
            position: absolute;
            right: 0;
            padding-right: 6rem;

            // &:after {
            //     left: 6rem;
            // }

            span {
                left: 6rem;
                margin-left: 1rem;
            }

            &:hover {

                span {
                    opacity: 1;
                    margin-left: 0;
                }
            }
        }

        .section__image {
            position: absolute;
            left: 0;
        }

        .section__line {
            left: 6rem;
        }

        // &__pattern {
        //     left: 0;
        // }
    }

    &#sectionCatering {

        a {
            justify-content: flex-end;
            position: absolute;
            right: 0;
            padding-right: 6rem;

            // &:after {
            //     left: 6rem;
            // }
        }

        &__image {
            position: absolute;
            left: 0;
        }

        .section__line {
            left: 6rem;
        }

        // &__pattern {
        //     left: 0;
        // }
    }

    @include grid-media($Small) {
        height: calc((#{$sectionHeightFront}) - 0.15rem);

        a {
            width: 100%;
            height: calc(((100vh - #{$headerHeightMobile}) / 2) - 0.15rem);
            justify-content: center !important;
            padding: 0 !important;

            &:after {
                display: none;
                visibility: hidden;
            }
        }

        h2 {
            font-size: 13vw;
            color: $third;
        }

        &__image {
            width: 100%;
            height: calc(((100vh - #{$headerHeightMobile}) / 2) - 0.15rem);

            img {
                width: 150%;
                transform: translate(-50%, -50%) scale(1);
                opacity: 0.4;
            }
        }

        &__pattern {
            display: none;
            visibility: hidden;
        }
    }
}

/*=====  End of Section  ======*/

.is-opacity {
    opacity: 0;
}

.is-blur {
    // filter: blur(3px);
    // filter: grayscale(0.7);
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(1.15) !important;
}

.is-active {
    left: -100%;
    opacity: 1;
    transition: all 0.3s;
}

.is-fixed {
    top: 0;
    // transform: translate3d(0, 0, 0);
    opacity: 1;
}

.is-position {
    margin-top: -1rem;
    opacity: 1;
}
