/*==================================
=            Slider Nav            =
==================================*/

.section-slider__nav {
    width: 5rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: $headerWidth;
    // padding-top: 3rem;
    // border-right: $border;
    // transform: translateY(-50%);
    z-index: 9900;
    // transform: translate3d(0, 3rem, 0);
    transition: all 0.7s ease-in-out;
    // opacity: 0;

    ul {
        width: 100%;
        // display: flex;
        // flex-direction: row;
        // padding: 0 3rem;

        li {
            width: 100%;
            height: 6rem;
            margin: 0.5rem 0;
            overflow: hidden;

            a {
                width: 100%;
                height: 6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                font: {
                    family: $heading-font;
                    size: $font-size-large;
                };
                text-align: right;
                // padding: 0 1rem;
                color: $sliderLinkColor;
                transition: transform 0.2s;
                transform: translateX(-10%);

                // &::before {
                //     content: '';
                //     position: absolute;
                //     width: 24px;
                //     height: 24px;
                //     top: 8px;
                //     left: 50%;
                //     right: auto;
                //     transform: translateX(-50%);
                //     // background: url(../assets/cd-icon-navigation.svg) no-repeat 0 0;
                // }

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }

                &:hover {
                    color: $sliderLinkColorActive;
                    transform: translateX(0);
                }
            }

            &.cd-selected {

                a#sliderHamburger,
                a#sliderSandvich,
                a#sliderHotdog {
                    background-position: 100% 0;
                    transform: translateX(0);
                }
            }

            a#sliderHamburger {
                background-image: url('images/icon_hamburger.png');
                background-position: 23% 0;
                background-size: cover;
                background-repeat: no-repeat;
            }

            a#sliderSandvich {
                background-image: url('images/icon_sandvich.png');
                background-position: 23% 0;
                background-size: cover;
                background-repeat: no-repeat;
            }

            a#sliderHotdog {
                background-image: url('images/icon_hotdog.png');
                background-position: 23% 0;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }

    .cd-selected {

        a {
            color: $sliderLinkColorActive;
            // background-color: $minicartBorder;
        }
    }

    @include grid-media($Small) {
        width: 100%;
        height: 4rem;
        flex-direction: row;
        top: $headerHeightMobile;
        left: 0;
        display: none;
        visibility: hidden;

        ul {
            display: flex;
            justify-content: space-around;

            li {
                width: calc((100% / 3) * 1);
                height: $headerHeightMobile + 0.4rem;
                margin: 0;
                padding: 0.3rem;
                transform: translateX(0);

                a {
                    width: 100%;
                    height: 100%;
                }

                a#sliderHamburger {
                    background-image: url('images/icon_burger_m.png');
                    background-position: 100% 0;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                a#sliderSandvich {
                    background-image: url('images/icon_sandvich_m.png');
                    background-position: 100% 0;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                a#sliderHotdog {
                    background-image: url('images/icon_hotdog_m.png');
                    background-position: 100% 0;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

.section-slider__marker {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 100%;
    color: #d44457;
    background-color: #ffffff;
    box-shadow: inset 0 2px 0 currentColor;
    transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
    transition: transform 0.2s, box-shadow 0.2s;
}

/*=====  End of Slider Nav  ======*/


/*==============================
=            Slider            =
==============================*/

/* Slider */
.section-slider {
    z-index: 1000;
    overflow: hidden;

    &__slider {
        width: calc(100% - (#{$headerWidth} * 2));
        min-height: 100vh;
        left: $headerWidth;
        top: 0;
        // padding: 6rem 0 0;
        position: relative;
        // transform: translate3d(0, 3rem, 0);
        transition: all 0.7s ease-in-out;
        // opacity: 0;

        @include grid-media($Small) {
            width: 100%;
            left: 0;
            // margin-top: $headerHeightMobile;
            position: relative;
        }
    }

    &__slide {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        position: relative;
        top: 0;
        left: 0;
        // padding: 6rem 0;
        transform: translateZ(0px);
        will-change: transform;
        // transform: translateX(130%);
        // opacity: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &.section-slider__slide--selected {
            // transform: translateX(0);
            // transition: opacity 0.8s;
            opacity: 1;
        }

        @include grid-media($Small) {
            height: auto;
            flex-direction: column;
            position: relative;
            // transform: translateX(0);
        }
    }

    &__image {
        width: 45%;
        height: calc(100% - 0.3rem);
        display: block;
        position: relative;
        padding-left: 5%;
        // border-top: $border;
        // border-bottom: $border;
        // transform: translateX(-50%);

        img {
            width: 80%;
            height: auto;
            display: block;
            position: absolute;
            left: 55%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        @include grid-media($Small) {
            width: 100%;
            height: 50vh;
            padding-left: 0;

            img {
                width: 100%;
                left: 50%;
            }
        }
    }

    &__content {
        width: calc(50% - 0.15rem);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        // padding-left: 2rem;
        left: 0;
        top: 0;
        text-align: center;
        transform: translateZ(0);
        will-change: transform;
        // border-left: $border;
        z-index: 1;

        @include grid-media($Small) {
            width: 100%;
            height: auto;
        }
    }

    @include grid-media($Small) {
        height: auto;
        min-height: 100vh;
        overflow: initial;
    }
}

/*=====  End of Slider  ======*/

.is-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.is-fixed {
    top: 0;
    // transform: translate3d(0, 0, 0);
    opacity: 1;
}
