// body {

// }

.wrapper {
    width: 100%;
    height: 100vh;

    &--stopper {
        background-image: url('images/chalkboard.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.center-block {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__image {
        // width: 50%;
        height: 40vh;
        opacity: 0.5;

        img {
            width: auto;
            height: 100%;
            display: block;
        }
    }

    @include grid-media($Small) {
        width: calc(100% - 2rem);
        padding: 0 1rem;
    }
}

h1 {
    font-family: 'PF DinText Pro';
    font-size: $font-size-h2;
    text-align: center;
    color: #fff;
    margin-top: 2rem;
    animation: fadeIn 2s;
}

p {
    display: block;
    margin: 2rem 0;
    text-align: center;
    // font-size: $font-size-large;
    color: #fff;
    animation: fadeIn 2s;
}

#countdown {
    color: #fff;
    text-align: center;
}

/*===============================
=            Counter            =
===============================*/

.countdownHolder{
    width:450px;
    margin:0 auto;
    font: 40px/1.5 'Open Sans Condensed',sans-serif;
    text-align:center;
    letter-spacing:-3px;
}

.position{
    display: inline-block;
    height: 1.6em;
    overflow: hidden;
    position: relative;
    width: 1.05em;
}

.digit{
    position:absolute;
    display:block;
    width:1em;
    // background-color:#444;
    border-radius:0.2em;
    text-align:center;
    color:#fff;
    letter-spacing:-1px;
}

// .digit.static{
//     // box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);

//     // background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
//     // background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
//     // background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
//     // background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
//     // background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);

//     // background-image: -webkit-gradient(
//     //     linear,
//     //     left bottom,
//     //     left top,
//     //     color-stop(0.5, #3A3A3A),
//     //     color-stop(0.5, #444444)
//     // );
// }

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

// .countDays{ /* display:none !important;*/ }
// .countDiv0{ /* display:none !important;*/ }
// .countHours{}
// .countDiv1{}
// .countMinutes{}
// .countDiv2{}
// .countSeconds{}


.countDiv{
    display:inline-block;
    width:16px;
    height:1.6em;
    position:relative;
}

.countDiv:before,
.countDiv:after{
    position:absolute;
    width:5px;
    height:5px;
    background-color:#444;
    border-radius:50%;
    left:50%;
    margin-left:-3px;
    top:0.5em;
    box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
    content:'';
}

.countDiv:after{
    top:0.9em;
}

/*=====  End of Counter  ======*/