/*====================================
=            Color change            =
====================================*/

$primary                      : #92a5b4; // Основной цвет, цвет текста
$secondary                    : $primary; // Цвет ссылок
$third                        : #171c21; // Цвет background, input
$warning                      : #f0f; // Color warning
$sucsess                      : #c0c; // Color sucsess

//Color elements
$admin_backgound              : $third; // background
$admin_warning                : $warning; // Warning
$admin_sucsess                : $sucsess; // Sucsess
$admin_link                   : $secondary; // Color link
$admin_license                : lighten($primary, 50%); // Color text license

$admin_panel_background       : lighten($third, 10%); // Color background main panel
$admin_panel_header           : $primary; // Color panel H2
$admin_panel_button           : $secondary; // Color background button
$admin_panel_button_hover     : darken($secondary, 5%); // Color background button hover
$admin_panel_check            : $admin_panel_header; // Color checkbox

$admin_panel_input_border     : $primary; // Panel input border color
$admin_panel_input_background : lighten($primary, 30%); // Color backround input
$admin_panel_input_color      : $third; // Color input
$admin_panel_input_label      : $primary; // Color input label
$admin_panel_border           : $primary; // Color border main panel

/*=====  End of Color change  ======*/

html {
    color: #111;
    /* http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/ */
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif !important;
    /* IE ignores this and renders Arial better */
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    font-size: 100.01%;
    height: 100%;
    /* avoids obscure font-size bug */
    line-height: 1.5;
    width: 100%;
}

//Background
body {
    background: $admin_backgound;
    font-size: 75%;
    /* 12px 62.5% for 10px*/
    height: 100%;
    width: 100%;
}

.warning {
    color: $admin_warning;
    font-weight: bold;
}

.success {
    color: $admin_sucsess;
    font-weight: bold;
}

#container {
    margin: 70px auto 0;
    width: 460px;
}

#modx-login-logo {
    // margin: 0 0 12px 24px;
    margin: 0 0 2rem 0;

    // Вытянутый лого
    img {
        width: 40%;
        display: block;
        margin: 0 auto;
    }

    // Квадратный лого
    // img {
    //     width: auto;
    //     height: 150px;
    //     display: block;
    //     margin: 0 auto;
    // }
}

// Центральная панель
#modx-panel-login-div {
    border: 0;
    background: $admin_panel_background;
    border-radius: 0;
    // box-shadow: 0 0 7px 1px #d9d9d9;
    border: 0.15rem solid $admin_panel_border;
    padding: 26px;
}

img.loginCaptcha {
    border: 1px solid #039;
    height: 60px;
    width: 148px;
}

.loginLicense {
    color: $admin_license;
    font-size: 90%;
    margin: 1em auto;
    // padding-left: 20px;
    width: 460px;
}

h2 {
    color: $admin_panel_header;
    font-weight: bold;
}

#modx-login-btn {
    float: right;
    font-size: 12px;
    background-color: $admin_panel_button;
    background-image: none;

    &:active {
        margin: 3px 2px 1px;
    }

    &:hover {
        background-color: $admin_panel_button_hover;
    }
}

.modx-forgot-login {
    float: left;
}

#modx-forgot-login-form {
    margin-top: 24px;

    button {
        margin-top: 24px;
        font-size: 12px;
    }
}

a {
    color: $admin_link !important;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

#modx-login-email {
    width: 200px;
}

.login-form-item {
    margin: 0;

    label {
        cursor: pointer;
        font-size: 120%;
        color: $admin_panel_input_label;
        margin: 0 0 3px 3px;
        display: block;
    }
}

.login-form-item-first {
    margin: 0 0 17px;
}

.login-form-element .x-form-text {
    padding: 8px;
    line-height: 32px;
    width: 390px;
    background: $admin_panel_input_background;
    border-color: $admin_panel_input_border;
    color: $admin_panel_input_color;

    &:focus {
        background: #fff;
    }
}

.login-cb-row {
    padding: 24px 0 10px 0;
}

.x-form-check-wrap {
    float: left;
}

.x-form-check-wrap .x-form-cb-label {
    margin: 11px 0 0;
    color: $admin_panel_check;
}
.x-form-check-wrap.modx-login-rm-cb {
    float: left;
}

.login-cb-col {
    float: left;
    width: 50%;
}

.modx-login-fl-link {
    cursor: pointer;
    height: auto !important;
    line-height: 18px;
    margin: 10px 0 0 2px;
    white-space: nowrap;
}

#modx-fl-link:focus {
    color: #BE0000;
}

#modx-login-language-select-div {
    bottom: 0;
    color: #888;
    left: 0;
    padding: 4px;
    position: absolute;
}

#modx-login-language-select {
    background: #eee;
    border: 1px solid #aaa;
    position: relative;
}